@using Microsoft.Marketplace.SaasKit.Models;
@model SubscriptionViewModel

@{
    ViewData["Title"] = "Subscriptions";
}

<div class="text-center">
    <div class="container">
        <br />
        @if (!Model.IsSuccess && !string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                <strong>Error!</strong> @Model.ErrorMessage
            </div>
        }
        <form method="post">
            <div class="">
                <div class="card-body">
                    <div class="text-left">
                        <span class="cm-section-heading">Subscriptions</span>
                    </div>
                    <div>
                        @if (Model.Subscriptions.Count() > 0)
                        {
                            <table id="table" class="table table-bordered dt-responsive table-condensed cm-table mt20" width="100%">
                                <thead class="cm-table-head">
                                    <tr>
                                        <th>User Name</th>
                                        <th>User Email</th>
                                        <th>Subscription Name</th>
                                        <th>Plan</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Subscriptions.Count; i++)
                                    {
                                        var subscription = Model.Subscriptions[i];
                                        <tr>
                                            <td class="text-left">
                                                @subscription.CustomerName
                                            </td>
                                            <td class="text-left">
                                                @subscription.CustomerEmailAddress
                                            </td>
                                            <td class="text-left">
                                                @Html.HiddenFor(s => s.Subscriptions[i].Id)
                                                @Html.HiddenFor(s => s.Subscriptions[i].PlanId)
                                                @subscription.Name
                                            </td>
                                            <td class="text-left">@subscription.PlanId</td>
                                            <td class="text-left">@subscription.SaasSubscriptionStatus</td>
                                            <td class="text-left cm-ellipsis">
                                                <div class="nav-item dropdown">
                                                    <a class="nav-link dropdown cm-link-button" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                        @if (subscription.IsMeteringSupported && subscription.SaasSubscriptionStatus == SubscriptionStatusEnum.Subscribed)
                                                        {
                                                            <a class="dropdown-item cm-dropdown-option" asp-action="RecordUsage" asp-controller="Home" asp-route-subscriptionId="@subscription.SubscribeId" class="btn btn-primary">Manage Usage</a>
                                                        }
                                                        <a class="dropdown-item cm-dropdown-option" data-target="#myModal" onclick="ViewSubscriptionlogdetailsById('@subscription.Id')">Activity Log</a>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
            </div>
        </form>
    </div>
</div>
<script>
    function ViewSubscriptionlogdetailsById(subscriptionId) {
        $.ajax({
            type: "Get",
            url: "SubscriptionLogDetail",
            data: { subscriptionId: subscriptionId },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#myModal').html(data);
                $('#myModal').modal();
            },
            error: function () {
                alert("Content load failed.");
            }
        });
    }
</script>