@model List<Marketplace.SaaS.Accelerator.Services.Models.SchedulerManagerViewModel>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="">
    @if ((this.TempData["SupportMeteredBilling"] != null) && (this.TempData["SupportMeteredBilling"].ToString() == "1"))
    {
        <div class="">
            <div class="card-body text-center">
                <div>
                    <span class="cm-section-heading">Current Metered Plan Scheduled Trigger</span>

                </div>
                <div class="text-end">
                    <button type="submit" onclick="@("window.location.href='" + @Url.Action("NewScheduler", "Scheduler") + "'");" class="btn btn-secondary 
float-right cm-button-default">Add New Scheduled Metered Trigger</button>

                </div>
            </div>
            <div id="myModal">
                @if (Model != null && Model.Count() > 0)
                {
                    <br /><br />
                    <div class="alert alert-warning" role="alert">
                        Make sure to enable the frequecies you would like to run in the App Config!   
                    </div>

                    <div class="table-responsive mt20">
                        <b>Current UTC time: @DateTime.UtcNow; </b>  <br />
                        <table class="table table-bordered dt-responsive cm-table" width="90%" cellspacing="0">
                            <thead class="cm-table-head">
                                <tr>
                                    <th>Id</th>
                                    <th>Scheduler</th>
                                    <th>Subscription</th>
                                    <th>Customer</th>
                                    <th>Plan</th>
                                    <th>Dimension</th>
                                    <th>Quantity</th>
                                    <th>Frequency</th>
                                    <th>Start Date (UTC)</th>
                                    <th>Last Run (UTC)</th>
                                    <th>Next Run (UTC)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-left">
                                            @item.Id
                                        </td>
                                        <td class="text-left">
                                            @item.SchedulerName
                                        </td>
                                        <td class="text-left">
                                            @item.SubscriptionName
                                        </td>
                                        <td class="text-left">
                                            @item.PurchaserEmail
                                        </td>
                                        <td class="text-left">
                                            @item.PlanId
                                        </td>
                                        <td class="text-left">
                                            @item.Dimension
                                        </td>
                                        <td class="text-left">
                                            @item.Quantity
                                        </td>
                                        <td class="text-left">
                                            @item.Frequency
                                        </td>
                                        <td class="text-left">
                                            @item.StartDate
                                        </td>
                                        <td class="text-left">
                                            @item.LastRunTime
                                        </td>
                                        <td class="text-left">
                                            @item.NextRunTime
                                        </td>
                                        <td class="text-left cm-ellipsis">
                                            <div class="nav-item dropdown">
                                                <a class="nav-link dropdown cm-link-button" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                    <a  class="dropdown-item cm-dropdown-option" href="Scheduler/DeleteSchedulerItem/@item.Id" onclick="return confirm('Are you sure?');" >Delete</a>
                                                    <a  class="dropdown-item cm-dropdown-option" href="Scheduler/SchedulerLogDetail/@item.Id">History</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {

                    <div class="cm-panel-default mt40">
                        <div class="p-3 mr420">
                            <p>
                                You do not have any scheduled metered trigger yet!
                            </p>
                        </div>
                    </div>

                }
            </div>
        </div>
    }
    else
    {
        <div>
            <h1><span class="cm-section-heading"> Please activate Scheduler feature to access this section</span></h1>
        </div>
    }

</div>


