@*@using Microsoft.Marketplace.SaaS.SDK.Services.Models;*@
@model Marketplace.SaaS.Accelerator.Services.Models.SchedulerUsageViewModel
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
   <script type="text/javascript">
    
    // When the user clicks on <span> (x), close the modal
     function closeModel() {
      var modal = document.getElementById("detailModal");
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        var modal = document.getElementById("detailModal");
        modal.style.display = "none";
      }
    }

    function ShowDetail(request,response)
    {
        var detailModal = document.getElementById("detailModal");
        var requestJson = document.getElementById("requestJson");
        var responseJson = document.getElementById("responseJson");
        responseJson.textContent=response;
        requestJson.textContent=request;
        
        detailModal.style.display = "block";
    }
   </script>
 @if ((this.TempData["SupportMeteredBilling"] != null) && (this.TempData["SupportMeteredBilling"].ToString() == "1"))
    {
    <div class="card-body">
        <div class="modal-header header-bg">
            <h1><span class="cm-section-heading"> Activity Log</span></h1>
            <button type="submit"onclick="@("window.location.href='" + @Url.Action("index", "Scheduler") + "'");" class="cm-button-default text-right float-right">Back To Scheduler List</button>
        </div>
        <div class="modal-body">
            <div>
                <table class="table-bordered">
                    <tr>
                        <th>Subscription</th>
                        <td> @Html.DisplayFor(model => model.SelectedSubscription)</td>
                    </tr>
                    <tr>
                        <th>Dimension</th>
                        <td> @Html.DisplayFor(model => model.SelectedDimension)</td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td> @Html.DisplayFor(model => model.Quantity)</td>
                    </tr>

                    <tr>
                        <th>Frequency</th>
                       <td> @Html.DisplayFor(model => model.SelectedSchedulerFrequency)</td>
                    </tr>
                    <tr>
                        <th>First Run Date (UTC)&nbsp;&nbsp; </th>
                        <td>  
                             @Html.DisplayFor(model => model.FirstRunDate)
                       </td>
                    </tr>

                    <tr>
                        <th>Next Run Date (UTC)&nbsp;&nbsp; </th>
                        <td>  
                             @Html.DisplayFor(model => model.NextRunDate)
                       </td>
                    </tr>

                </table>
                <br />
            </div>
            <p>
                This Log will show all the Meter events run manually or by any Scheduled Metered Trigger for this SaaS subscription.
            </p>

            <table class="table table-bordered dt-responsive cm-table" width=50%>
                <thead class="cm-table-head">
                    <tr>
                        <th width="10%">ID</th>
                        <th width="10%">Status</th>
                        <th width="10%">Submit Date</th>
                        <th width="10%">Run By</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.MeteredAuditLogs)
                    {
                        <tr>

                            <td class="text-left">@log.Id</td>
                            <td class="text-left">@log.StatusCode</td>
                            <td class="text-left">
                                @if (log.CreatedDate != null && log.CreatedDate.HasValue)
                                {@log.CreatedDate.Value.ToString()}
                            </td>
                            <td>@log.RunBy</td>
                            <td><button id="detailBtn" class="cm-button-default-small" onclick="ShowDetail('@log.RequestJson','@log.ResponseJson')">Detail</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- The Modal -->
           <div id="detailModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close" id="spanClose" onclick="closeModel()">&times;</span>
            <table border="1">
                <tr>
                    <td><b>Metered Event Request</b></td>
                    <td><span id="requestJson"></span></td>
                </tr>
                <tr>
                    <td><b>MarketPlace Response</b></td>
                    <td><span id="responseJson"></span></td>
                </tr>

            </table>
          </div>

        </div>
    </div>
    }
    else
    {
        <div>
            <h1><span class="cm-section-heading"> Please activate Scheduler feature to access this section</span></h1>
        </div>
    }
    </body>