@model Marketplace.SaaS.Accelerator.DataAccess.Entities.ApplicationConfiguration


<div class="text-center mt20">
    <div class="card card-header">
        <dl class="row">
            <dt class="col-2 text-right"><span>Edit App Config</span></dt>
        </dl>
    </div>
    <form method="post" id="frmAppConfigDetails" asp-action="ApplicationConfigDetails" asp-controller="ApplicationConfig">
        <div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Name)
        </div>
        <table class="table table-bordered dt-responsive cm-table" id="tblcontainer">
            <theader>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Description</th>
                </tr>
            </theader>
            <tbody>
                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        @if (@Model.Name.Equals("SMTPPassword") && @Model?.Value?.Length > 5)
                        {
                            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { type ="password", @class = "form-control" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                        }
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Description,new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="ac-save-d">
            <p>
                <a class="cm-button-default mt0" id="backButton"  asp-area="" asp-controller="ApplicationConfig" asp-action="Index">Back</a>
                <input class="cm-button-default mt0 ac-save-i" type="button" onclick="saveAppConfigDetails()" value="Save App Config" />
            </p>
        </div>
    </form>
</div>

<script>

    function saveAppConfigDetails() {
        var formobject = $('#frmAppConfigDetails').serialize();
        var csrftoken = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: 'ApplicationConfig/ApplicationConfigDetails',
            type: 'POST',
            headers: { RequestVerificationToken: csrftoken },
            data: formobject,
            cache: false,
            success: function (result) {
                swal({
                    title: "Saved",
                    text: "App config details saved successfully.",
                    icon: "success",
                    timer: 2000
                })
            },
            error:
                function (result) {
                    console.log();
                     swal({
                        title: "Error",
                        text: "An error has occured: "+ result.responseText,
                        icon: "error",
                        timer: 3000
                    })
                }
        });
    }

</script>