@model Marketplace.SaaS.Accelerator.DataAccess.Entities.EmailTemplate
<div class="text-center mt20">
    <div class="card card-header">
        <dl class="row">
            <dt class="col-2 text-right"><span>Edit Email Template</span></dt>
        </dl>
    </div>
    <form method="post" id="frmEmailTemplateDetails" asp-action="EmailTemplateDetails" asp-controller="ApplicationConfig">
        <div>
            @Html.HiddenFor(model => model.Status)
        </div>
        <div>
            @Html.HiddenFor(model => model.Id)
        </div>
        <table class="table table-bordered dt-responsive cm-table" id="tblcontainer">
            <theader>
                <tr>
                    <th class="text-start">Field</th>
                    <th class="text-start">Value</th>
                </tr>
            </theader>
            <tbody>
                <tr>
                    <td class="text-start">IsActive</td>
                    <td class="text-start">@Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { type ="checkbox", @class = "float-left", name="IsActive" } })</td>
                </tr>
                <tr>
                    <td class="text-start">Subject</td>
                    <td class="text-start">@Html.EditorFor(model => model.Subject, new { htmlAttributes = new {  @class = "form-control", name="Subject" } })</td>
                </tr>
                <tr>
                    <td class="text-start">Description</td>
                    <td class="text-start">@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name="Description" } })</td>
                </tr>
                <tr>
                    <td class="text-start">TemplateBody</td>
                    <td class="text-start">
                        @Html.TextAreaFor(model => model.TemplateBody, new { @class = "form-control" })
                        <span class="fst-italic text-start">Due to the content size, it is recommended to copy the content to an external editor, modify the Template body, paste it back into here and save.</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-start">ToRecipients</td>
                    <td class="text-start">@Html.EditorFor(model => model.ToRecipients, new { htmlAttributes = new { @class = "form-control", name="ToRecipients" } })</td>
                </tr>
                <tr>
                    <td class="text-start">Bcc</td>
                    <td class="text-start">@Html.EditorFor(model => model.Bcc, new { htmlAttributes = new { @class = "form-control", name="Bcc" } })</td>
                </tr>
                <tr>
                    <td class="text-start">Cc</td>
                    <td class="text-start">@Html.EditorFor(model => model.Cc, new { htmlAttributes = new { @class = "form-control", name="Cc" } })</td>
                </tr>
            </tbody>
        </table>
        <div class="ac-save-d">
            <p>
                <a class="cm-button-default mt0" id="backButton" style="text-decoration: none;" asp-area="" asp-controller="ApplicationConfig" asp-action="EmailTemplates">Back</a>
                <input class="cm-button-default mt0 ac-save-i" type="button" onclick="saveEmailTemplateDetails()" value="Save Template" />
            </p>
        </div>
    </form>
</div>

<script>

    function saveEmailTemplateDetails() {
        var formobject = $('#frmEmailTemplateDetails').serialize();
        var csrftoken = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/ApplicationConfig/EmailTemplateDetails',
            type: 'POST',
            headers: { RequestVerificationToken: csrftoken },
            data: formobject,
            cache: false,
            success: function (result) {
                debugger;
                swal({
                    title: "Saved",
                    text: "Email Template saved successfully.",
                    icon: "success",
                    timer: 1000
                });
            },
            Error:
                function (result) {
                    swal({
                        title: "Error",
                        text: "An error has occured, please check the log.",
                        icon: "error"
                    });
                }
        });
    }

</script>