@model IEnumerable<Marketplace.SaaS.Accelerator.DataAccess.Entities.EmailTemplate>
@{
    ViewData["Title"] = "EmailTemplates";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <style>
        #dropdown02 {
            color: black;
        }
    </style>
<div class="container">
   <div class="card-body" style="margin-left:-30px;">
        <div class="text-left">
            <span class="cm-section-heading">Email Templates</span>
        </div>
          <div id="emailTemplatesModal">
                @if (Model != null && Model.Count() > 0)
                {
                     <div class="table-responsive mt20">
                         <table class="table table-bordered dt-responsive cm-table" width="100%" cellspacing="0">
                            <theader>
                                <tr>
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>Description</th>
                                    <th>IsActive</th>
                                    <th>Action</th>
                                </tr>
                            </theader>
                            <tbody>
                                @foreach (var template in Model)
                                {
                                    <tr>
                                        <td>
                                            @template.Id
                                        </td>
                                        <td>
                                            @template.Status
                                        </td>
                                        <td>
                                            @template.Description
                                        </td>
                                        <td>
                                            @template.IsActive
                                        </td>
                                        <td>
                                            <div class="nav-item dropdown minline">
                                                <a class="nav-link dropdown cm-link-button" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdown02">
                                                    <a class="dropdown-item cm-dropdown-option" data-bs-target="#emailTemplatesModal" onclick="ViewEmailTemplateDetailsByStatus('@template.Status')">Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="ac-save-d">
                        <p>
                            <a class="cm-button-default mt0" id="backButton" style="text-decoration: none;" asp-area="" asp-controller="ApplicationConfig" asp-action="Index">Back</a>
                        </p>
                    </div>
                } else {

                    <div class="cm-panel-default mt40">
                        <div class="p-3 mr420">
                            <p>
                                You do not have any Email Templates
                            </p>
                        </div>
                    </div>

                }
        </div>
    </div>
</div>
</body>
<script>

    function ViewEmailTemplateDetailsByStatus(status) {
        $.ajax({
            type: "Get",
            url: "/ApplicationConfig/EmailTemplateDetails",
            data: { status },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#emailTemplatesModal').html(data);
            },
            error: function () {
                 swal({
                        title: "Error",
                        text: "An error has occured, while loading details.",
                        icon: "error"
                    });
            }
        });
    }
   
   

</script>