@model IEnumerable<Marketplace.SaaS.Accelerator.DataAccess.Entities.ApplicationConfiguration>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
    <div class="">
        <div class="card-body admin-margin">
            <div class="text-left">
                <span class="cm-section-heading">Application Config</span>
            </div>
            <div id="myModal">
                <div class="table-responsive mt20">
                    <table class="table table-bordered dt-responsive cm-table" width="100%" cellspacing="0" id="applicationConfig">
                        <thead class="cm-table-head">
                            <tr>
                                <th>Config Name</th>
                                <th>Config Value</th>
                                <th>Config Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 0;}
                            @foreach (var item in Model)
                            {
                                @if (@item.Name.Equals("LogoFile") || @item.Name.Equals("FaviconFile")) continue;
                                <tr>
                                    <td class="text-left">
                                        @item.Name
                                    </td>
                                    <td class="text-left">
                                        @if (@item.Name.Equals("SMTPPassword") && @item?.Value?.Length > 5)
                                        {
                                            @String.Format("{0}{1}", @item.Value.Substring(0,5), "****************");
                                        }
                                        else
                                        {
                                            @item.Value
                                        }
                                    </td>
                                    <td class="text-left">
                                        @item.Description
                                    </td>
                                    <td class="cm-ellipsis">
                                        
                                        <a class="text-start nav-link dropdown cm-link-button" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                                            <a class="dropdown-item cm-dropdown-option" data-bs-target="#myModal" onclick="ViewAppConfigdetailsById('@item.Id')">Edit</a>
                                        </div>
                                       
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
                <hr />
                <div>
                     <h2>Application Logs</h2>
                    <a class="cm-button-default mt0" style="text-decoration: none;" asp-area="" asp-controller="ApplicationLog" asp-action="Index">View Logs</a>
                </div>
                <br />
                <div>
                     <h2>Email Templates</h2>
                    <a class="cm-button-default mt0" style="text-decoration: none;" asp-area="" asp-controller="ApplicationConfig" asp-action="EmailTemplates">View Templates</a>
                </div>
                <br />
                <h2>Upload Logo</h2>
                <p style="font-size:10px;">*restart the application after uploading file(s) and refresh (ctrl F5) to see the new logo/favicon</p>
                <div class="row">
                    <section>
                        <form method="post" enctype="multipart/form-data"
                              asp-controller="FileUpload" asp-action="Index">
                            <div class="form-group">
                                <div class="col-md-auto">
                                    <input type="file" name="files" accept=".ico, .png" multiple />
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-auto">
                                    <input type="submit"  class="btn btn-primary" onclick="changeValue()" value="Upload" />
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <label id="tempdataLabel">@TempData["Upload"]</label> 
            </div>
        </div>
    </div>
</div>
<script>
    function changeValue(){
        document.getElementById('tempdataLabel').innerHTML="In progress ..."    
    }

    function ViewAppConfigdetailsById(Id) {
            $.ajax({
                type: "Get",
                url: "ApplicationConfig/ApplicationConfigDetails",
                data: { Id: Id },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#myModal').html(data);
                },
                error: function () {
                    swal({
                        title: "Error",
                        text: "An error has occured, while loading details.",
                        icon: "error"
                    });
                }
            });
        }

</script>

