@using Microsoft.Marketplace.SaaS.SDK.Services.Models
@model List<SubscriptionLicensesViewModel>
<div>
    @if (Model != null && Model.Count() > 0)
    {

        <table class="table table-bordered dt-responsive cm-table" width="100%" cellspacing="0">
            <thead class="cm-table-head">
                <tr>
                    <th>Subscription Id</th>
                    <th>Subscription Name</th>
                    <th>Plan Name</th>
                    <th>License Key</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{ var i = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">@item.AmpsubscriptionId</td>
                        <td class="text-left">@item.SubscriptionName</td>
                        <td class="text-left">@item.PlanName</td>
                        <td class="text-left">@item.LicenseKey</td>
                        <td class="text-left">
                            @if (item.Status)
                            {
                                <span>Active</span>
                            }
                            else
                            {
                                <span>Revoked</span>
                            }
                        </td>
                        <td class="cm-minus-circle">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown cm-link-button" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-minus-circle"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">

                                    @if (item.Status)
                                    {
                                        <a class="btn patner-btn-proceed cm-dropdown-option" onclick="fnUpdateSubscriptionStatus('@item.Id','@item.SubScriptionID','Revoke')">Revoke</a>
                                    }
                                    else
                                    {
                                        <a class="btn patner-btn-danger cm-dropdown-option" onclick="fnUpdateSubscriptionStatus('@item.Id','@item.SubScriptionID','Activate')">Activate</a>
                                    }
                                </div>
                            </div>

                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
    else
    {

        <div class="cm-panel-default mt40">
            <div class="p-3">
                <p>
                    No licenses assigned yet, start assigning by selecting a subscription and submitting license key.
                </p>
            </div>
        </div>
    }
</div>

<script>

    //Update Subscription Status
    function fnUpdateSubscriptionStatus(Id, subscriptionId, key) {
        swal({
            title: key + " License",
            text: "Are you sure you want to " + key + " the license?",
            icon: "warning",
            buttons: true,
            dangerMode: true,

        })
            .then((willChange) => {
                debugger;
                if (willChange) {
                    var parm = { id: Id, subscriptionId: subscriptionId };
                    $.ajax({
                        type: "GET",
                        url: "/Licenses/UpdateActiveSubscription",
                        data: parm,
                        success: function (result) {
                            if (result != 0) {
                                alert(result);
                            } else {
                                window.location.reload();
                            }
                        }
                    });
                }
            });
    }

    function fnAddSubscriptionLicense() {
        $.ajax({
            type: "GET",
            url: "/Licenses/AddSubscriptionLicense",
            success: function (result) {
                $("#AddLicense-body").html(result);
            }
        });
    }
</script>

