@model Marketplace.SaaS.Accelerator.Services.Models.SubscriptionResultExtension
<div>
    <div class="modal-dialog modal-lg mt200">
        <div class="modal-content">
            <div class="modal-header header-bg">
                <h5 class="modal-title">Change Quantity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
            <form asp-action="ChangeSubscriptionQuantity" id="frmSubscriptionQuantityDetailAdmin" method="post">
                
                    <dl class="row text-start">
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayNameFor(model => model.SubscriptionStatus)
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.DisplayFor(model => model.SubscriptionStatus)
                        </dd>
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayName("Current Plan")
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.DisplayFor(model => model.PlanId)
                        </dd>
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayName("Current Quantity")
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayName("New Quantity")
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.TextBoxFor(s => s.Quantity, new { style = "width:100px" })
                            @Html.HiddenFor(s => s.Id)
                            @Html.HiddenFor(s => s.PlanId)
                            @Html.HiddenFor(s => s.SubscribeId)
                        </dd>
                    </dl>
                    <div class="text-end">
                        <div id="frmSpinner" class="spinner-border mt-2 text-end" role="status" style="margin-bottom: -10px; margin-right: 20px;" hidden>
                            @* <span class="sr-only">Processing...</span> *@
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end text-end">
                            <button id="frmButton" type="button" onclick="confirmQuantityDialog()" class="cm-button-default mt40 text-right">Change Quantity</button>
                        </div>
                    </div>
                
            </form>
            </div>
        </div>
    </div>
</div>
