@model List<Marketplace.SaaS.Accelerator.DataAccess.Entities.SubscriptionAuditLogs>

<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header header-bg">
            <h4><span class="cm-section-heading"> Activity Log</span></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card card-header mb0 pb0">
                <dl class="row">
                    <dt class="col-2 text-right"><span>Plan</span></dt>
                    <dd class="col-3 text-left">@Model.FirstOrDefault()?.Subscription?.AmpplanId</dd>
                    <dt class="col-3 text-right"><span>Subscription</span></dt>
                    <dd class="col-4 text-left">@Model.FirstOrDefault()?.Subscription?.Name</dd>
                </dl>
            </div>
            <table class="table table-bordered dt-responsive cm-table">
                <thead class="cm-table-head text-start">
                    <tr>
                        <th width="20%">Activity Log Time</th>
                        <th width="20%">Subscription Name</th>
                        <th width="10%">Attribute</th>
                        <th width="10%">Old Value</th>
                        <th width="10%">New Value</th>
                    </tr>
                </thead>
                <tbody class="text-start">
                    @foreach (var log in Model)
                    {
                        <tr>
                            <td class="text-left">
                                @if (log.CreateDate != null && log.CreateDate.HasValue)
                                {@log.CreateDate.Value.ToString("MM/dd/yyyy hh:mm tt")}
                            </td>
                            <td class="text-left">@log.Subscription.Name</td>
                            <td class="text-left">@log.Attribute</td>
                            <td class="text-left">@log.OldValue</td>
                            <td class="text-left">@log.NewValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>Cancel</button>
                </div>*@
        </div>
    </div>
</div>