@using Marketplace.SaaS.Accelerator.Services.Models
@model Marketplace.SaaS.Accelerator.Services.Models.SubscriptionViewModel

@{
    ViewData["Title"] = "Subscriptions";
}

<div class="text-center">
    <div>
        <br />
        @if (!Model.IsSuccess && !string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                <strong>Error!</strong> @Model.ErrorMessage
            </div>
        }
        <form method="post">
            <div>
                <div class="card-body">
                    <div>
                        <div style="float:left">
                            <span class="cm-section-heading">Subscriptions</span>
                        
                        </div>
                        <div style="float:right">
                            <a onclick="if (confirm('Are you sure you want to fetch all subscriptions?')) { fetchAllSubscriptions(); } else { return false;}" class="btn btn-secondary cm-button">Fetch All Subscriptions</a>
                        </div>
                    </div>
                    <br />
                    <br />

                    <hr />
                    <div class="filter-box">
                        <span>Filter: </span>
                        <input type="text" size="50" id="filterTextBox" placeholder="Enter any text to filter subscriptions" onkeyup="filterSubscriptions()">
                        <input type="checkbox" class="statusCheckbox" id="SubscribedOnly" onchange="filterSubscriptions()"/> Hide Unsubscribed
                        
                    
                    </div>

                    <div class="table-responsive mt20">
                        @if (Model.Subscriptions.Count() > 0)
                        {
                            <table id="table" class="table table-bordered dt-responsive table-condensed cm-table mt20" width="100%">
                                <thead class="cm-table-head text-start">
                                    <tr>
                                        <th>Purchaser Email</th>
                                        <th>Marketplace Subscription Id</th>
                                        <th>Subscription Name</th>
                                        <th>Offer</th>
                                        <th>Plan</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-start">
                                    @for (var i = 0; i < Model.Subscriptions.Count; i++)
                                    {
                                        var subscription = Model.Subscriptions[i];
                                        <tr id=@subscription.SubscriptionStatus>
                                            <td>
                                                @subscription.Purchaser.EmailId
                                            </td>
                                            <td class="text-nowrap">
                                                @subscription.Id
                                            </td>
                                               <td>
                                                @Html.HiddenFor(s => s.Subscriptions[i].Id)
                                                @Html.HiddenFor(s => s.Subscriptions[i].PlanId)
                                                @subscription.Name
                                            </td>
                                            <td>@subscription.OfferId</td>
                                            <td>@subscription.PlanId</td>
                                            <td>
                                                @if (@subscription.IsPerUserPlan)
                                                {
                                                    @subscription.Quantity
                                                }
                                                else
                                                {
                                                    <span>N/A</span>
                                                }
                                            </td>
                                            <td>@subscription.SubscriptionStatus</td>
                                            <td class="cm-ellipsis">
                                                @* <div class="nav-item dropdown"> *@
                                                    <a class="nav-link dropdown cm-link-button" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                        <a class="dropdown-item cm-dropdown-option" asp-controller="Home" asp-action="SubscriptionDetails" asp-route-subscriptionId="@Model.Subscriptions[i].Id">View Details</a>
                                                        @if (subscription.IsMeteringSupported && subscription.SubscriptionStatus == SubscriptionStatusEnumExtension.Subscribed)
                                                        {
                                                            <a class="dropdown-item cm-dropdown-option" asp-action="RecordUsage" asp-controller="Home" asp-route-subscriptionId="@subscription.SubscribeId">Manage Usage</a>
                                                        }
                                                        @if (subscription.SubscriptionStatus == SubscriptionStatusEnumExtension.PendingActivation || subscription.SubscriptionStatus == SubscriptionStatusEnumExtension.PendingFulfillmentStart || subscription.SubscriptionStatus == SubscriptionStatusEnumExtension.ActivationFailed)
                                                        {
                                                            <a class="dropdown-item cm-dropdown-option" asp-action="SubscriptionDetails" asp-route-subscriptionId="@Model.Subscriptions[i].Id" asp-route-planId="@Model.Subscriptions[i].PlanId" asp-route-operation="Activate">Activate</a>
                                                        }
                                                        @if (subscription.SubscriptionStatus == SubscriptionStatusEnumExtension.Subscribed || subscription.SubscriptionStatus == SubscriptionStatusEnumExtension.UnsubscribeFailed)
                                                        {
                                                        <a class="dropdown-item cm-dropdown-option" onclick="ViewSubscriptionDetail('@Model.Subscriptions[i].Id')" data-bs-toggle="modal" data-bs-target="#myModal">Change Plan</a>
                                                            <a class="dropdown-item cm-dropdown-option" asp-action="SubscriptionDetails" asp-route-subscriptionId="@Model.Subscriptions[i].Id" asp-route-planId="@Model.Subscriptions[i].PlanId" asp-route-operation="Deactivate">Unsubscribe</a>
                                                        }
                                                        @if (subscription.IsPerUserPlan && subscription.SubscriptionStatus == SubscriptionStatusEnumExtension.Subscribed)
                                                        {
                                                            <a class="dropdown-item cm-dropdown-option" onclick="ViewSubscriptionQuantityDetail('@Model.Subscriptions[i].Id')" data-bs-toggle="modal" data-bs-target="#myModal">Change Quantity</a>
                                                        }
                                                    <a class="dropdown-item cm-dropdown-option" data-bs-toggle="modal" data-bs-target="#myModal" onclick="ViewSubscriptionlogdetailsById('@subscription.Id')">Activity Log</a>
                                                    @* </div> *@
                                                </div>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="cm-panel-default mt40">
                                <div class="p-3 mr420">
                                    <p>
                                        No subscriptions from your customers yet!
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal" id="myModal" tabindex="-1">
                <div class="modal-dialog">
                    @* <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> *@
                        @* <div class="modal-body">

                        </div>
                        <div class="modal-footer">


                        </div> *@
                   @*  </div> *@
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function ViewSubscriptionQuantityDetail(subscriptionId) {
        $.ajax({
            type: "Get",
            url: "SubscriptionQuantityDetail",
            data: { subscriptionId: subscriptionId },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#myModal').html(data);
                $('#myModal').modal();
            },
            error: function () {
                swal({
                    title: "Error",
                    text: "Content load failed.",
                    icon: "Error"
                })
            }
        });
    }
    function ViewSubscriptionlogdetailsById(subscriptionId) {
        $.ajax({
            type: "Get",
            url: "SubscriptionLogDetail",
            data: { subscriptionId: subscriptionId },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#myModal').html(data);
                $('#myModal').modal();
            },
            error: function () {
                swal({
                    title: "Error",
                    text: "Content load failed.",
                    icon: "Error"
                })
            }
        });
    }

    function confirmDialog() {
        var newPlanName = $('#PlanId').val();
        swal({
            text: "Are you sure you want to switch to " + newPlanName + " plan?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willChange) => {
                if (willChange) {           
                    $("#frmButton").prop("disabled", true);
                    $("#frmSpinner").prop("hidden", false);
                    $("#frmSubscriptionDetail").submit();
                }
            });
    }
    function ViewSubscriptionDetail(subscriptionId) {
        $.ajax({
            type: "Get",
            url: "ViewSubscriptionDetail",
            data: { subscriptionId: subscriptionId },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#myModal').html(data);
                $('#myModal').modal();
            },
            error: function () {
                swal({
                    title: "Error",
                    text: "Content load failed.",
                    icon: "Error"
                })
            }
        });
    }
    function confirmQuantityDialog() {
        var newQuantity = $('#Quantity').val();
        swal({
            text: "Are you sure you want to Change the quantity to " + newQuantity + "?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willChange) => {
                debugger;
                if (willChange) {
                    $("#frmButton").prop("disabled", true);
                    $("#frmSpinner").prop("hidden", false);
                    $("#frmSubscriptionQuantityDetailAdmin").submit();
                }
            });
    }
    var csrftoken = $('input[name="__RequestVerificationToken"]').val();
    function fetchAllSubscriptions() {
        $.ajax({
            type: "Post",
            headers: { RequestVerificationToken: csrftoken },
            url: "FetchAllSubscriptions",
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            beforeSend: function() {
                console.log('beforeSend');
                swal({ title:"Inprogress!", text: "Fetching subscriptions from SaaS fulfilment api.", icon: "info",  button: false, closeOnClickOutside: false });
            },
            success : function(data) {
                console.log('complete');
                swal({ title: "Complete", text: "Refresh the page to see any new fetched SaaS subscriptions.", icon: "info", button: true });
            },
            error: function (data) {
                console.log('error');
                swal({ title: "Error", text:"Something went wrong. Check logger logs.", icon: "error" });
            }
        });
    }

    function filterSubscriptions() {

        var filterValue = $("#filterTextBox").val().toLowerCase();
        var isChecked = $(".statusCheckbox").is(':checked');

        if(isChecked){

            var activeSubscriptions = $("#table tbody tr:not(#Unsubscribed)");
            $("#table tbody tr").hide();
            activeSubscriptions.show();

            activeSubscriptions.filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
            });
        } else{
            $("#table tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(filterValue) > -1);
            });
        }
    }
</script>
