@model List<Marketplace.SaaS.Accelerator.DataAccess.Entities.SubscriptionAuditLogs>


<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header header-bg">
            <h4 class="modal-title"><span class="cm-section-heading"> Activity Log</span></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card card-header mb0 pb0">
                <dl class="row">
                    <dt class="col-2 text-end"><b>Plan</b></dt>
                    <dd class="col-3 text-start">@Model.FirstOrDefault()?.Subscription?.AmpplanId</dd>
                    <dt class="col-3 text-end"><b>Subscription</b></dt>
                    <dd class="col-4 text-start">@Model.FirstOrDefault()?.Subscription?.Name</dd>
                </dl>
            </div>
            <table class="table-bordered table-responsive cm-table">
                <thead class="cm-table-head">
                    <tr>
                        <th width="20%" class="text-start">Activity Log Time</th>
                        <th width="20%" class="text-start">Subscription Name</th>
                        <th width="10%" class="text-start">Attribute</th>
                        <th width="10%" class="text-start">Old Value</th>
                        <th width="10%" class="text-start">New Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model)
                    {
                        <tr>
                            <td class="text-left">
                                @if (log.CreateDate != null && log.CreateDate.HasValue)
                                {@log.CreateDate.Value.ToString("MM/dd/yyyy hh:mm tt")}
                            </td>
                            <td class="text-start">@log.Subscription.Name</td>
                            <td class="text-start">@log.Attribute</td>
                            <td class="text-start">@log.OldValue</td>
                            <td class="text-start">@log.NewValue</td>
                        </tr>
                    }
                </tbody>
            </table>
            @* <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Close</button>
                
            </div> *@
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
            </div>*@
        </div>
    </div>
</div>