@model Marketplace.SaaS.Accelerator.Services.Models.SubscriptionResultExtension

<div>
    <div class="modal-dialog modal-lg mt200" data-backdrop="static">
        <div class="modal-content">
            <div class="modal-header header-bg">
                <h4><span class="cm-section-heading">Change My Botsa Plan</span></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="ChangeSubscriptionPlan" id="frmSubscriptionDetail" method="post">
                <div class="modal-body">
                    <dl class="row text-start">
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayName("Subscription Status")
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @Html.DisplayFor(model => model.SubscriptionStatus)
                        </dd>
                        <dt class="col-sm-4 pl80">
                            @Html.DisplayName("Current Plan")
                        </dt>
                        <dd class="col-sm-8 pl80">
                            @{
                                string displayName = Model.PlanId switch
                                {
                                    "a9459739-78ad-4f3d-924d-c7807de422cb" => "Starter Plan",
                                    "694a4c21-bb0d-4651-91bc-dc91da6208bc" => "Team Plan",
                                    "03fc223e-75df-4329-82ff-cdd8befe01d1" => "Business Plan",
                                    "1e2f32ef-10c4-4038-b938-f155b92b8f21" => "Enterprise Plan",
                                    _ => "Unknown Plan"
                                };
                                @displayName
                            }
@*                             @Html.DisplayName(displayName) *@
                        </dd>
                        <dt class="col-sm-4  pl80">
                            @Html.DisplayName("Change My Botsa Plan")
                        </dt>
                        <dd class="col-sm-8  pl80">
                            @Html.DropDownListFor(s => s.PlanId, new SelectList(Model.PlanList, "PlanId", "DisplayName", Model.PlanId), new { @class = "form-control w-100" })
                            @Html.HiddenFor(s => s.Id)
                            @Html.HiddenFor(s => s.PlanId)
                            @Html.HiddenFor(s => s.SubscribeId)
                        </dd>
                    </dl>
                    @*<div class="row pr-3 pt-3 mt-5 pb-3 text-right" style="background-color:#F2F2F2">
                            <div class="col-sm-4 text-right  font-weight-bold">
                                @Html.DisplayName("Change Plan")
                            </div>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(s => s.PlanId, new SelectList(Model.PlanList, "PlanId", "PlanId", Model.PlanId), new { @class = "form-control w-100" })
                                @Html.HiddenFor(s => s.Id)
                                @Html.HiddenFor(s => s.PlanId)
                                @Html.HiddenFor(s => s.SubscribeId)
                            </div>
                            <button type="button" onclick="confirmDialog()" class="btn btn-success text-right">Change Plan</button>
                        </div>*@
                    <div class="text-end">
                        <div id="frmSpinner" class="spinner-border mt-2" role="status" style="margin-bottom: -10px; margin-right: 20px;" hidden>
                            @* <span class="sr-only">Processing...</span> *@
                        </div>
                        <button id="frmButton" type="button" onclick="confirmDialog()" class="btn cm-button-default text-end">Change Plan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>